<nav class="navbar navbar-expand-lg color-{{ section.settings.navbar_background_color }} gradient">
  {% if section.settings.logo_position == 'middle-center' %}
    <!-- 如果 logo 位置为 middle-center，则使用 header-position-middle-left 样式 -->
    <div class="header-position-middle-left">
      <!-- 顶部导航栏内容 -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto left-content">
          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              <!-- 下拉菜单项 -->
              <li class="nav-item dropdown">
                <a href="{{ link.url }}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div>
                    <!-- 大型菜单选项 -->
                    {% if section.settings.menu_type_desktop == 'mega' and section.settings.mega_menu_images_toggle != 'none' %}
                      <ul class="mega-menu__list megamenu-with-image page-width">
                        {%- for childlink in link.links -%}
                          {% assign image_url = '' %}
                          {% if section.settings.mega_menu_images_toggle == 'featured' %}
                            {% if childlink.object.featured_image %}
                              {% assign image_url = childlink.object.featured_image | img_url: 'master' %}
                            {% endif %}
                          {% elsif section.settings.mega_menu_images_toggle == 'metafield' %}
                            {% assign image_url = childlink.object.metafields.custom.header_menu_image | img_url: 'master' %}
                          {% endif %}
                          <li>
                            <div class="mega-menu__column">
                              {% if image_url != blank %}
                                <a href="{{ childlink.url }}">
                                  <img src="{{ image_url }}" alt="{{ childlink.title | escape }}" class="mega-menu__image">
                                </a>
                              {% endif %}
                              <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}" href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %} {% if section.settings.mega_menu_images_title %}hide-title{% endif %}" {% if childlink.current %} aria-current="page" {% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            </div>
                          </li>
                        {%- endfor -%}
                      </ul>
                    <!-- 如果使用侧边栏菜单，则按照相应样式渲染 -->
                    {% else if section.settings.drawer_menu_images_toggle != 'none' %}
                      {% assign image_url = '' %}
                      {% if section.settings.drawer_menu_images_toggle == 'featured' %}
                        {% if link.object.featured_image %}
                          {% assign image_url = link.object.featured_image | img_url: 'master' %}
                        {% endif %}
                      {% elsif section.settings.drawer_menu_images_toggle == 'metafield' %}
                        {% if link.object.metafields.custom.header_menu_image %}
                          {% assign image_url = link.object.metafields.custom.header_menu_image | img_url: 'master' %}
                        {% endif %}
                      {% endif %}
                      <div class="menu-drawer__menu-item-container{% if link.current %} menu-drawer__menu-item--active{% endif %}">
                        <a id="HeaderDrawer-{{ link.handle }}" href="{{ link.url }}" class="menu-drawer__menu-item menu-drawer__menu-item-w-image link link--text focus-inset" {% if link.current %} aria-current="page" {% endif %}>
                          {{ link.title | escape }}
                        </a>
                        {% if image_url != blank %}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item-link">
                            <img src="{{ image_url }}" alt="{{ link.title | escape }}" class="menu-drawer__image">
                          </a>
                        {% endif %}
                      </div>
                    <!-- 如果没有大型菜单项，则渲染普通的菜单项 -->
                    {% else %}
                      {% for childlink in link.links %}
                        <a href="{{ childlink.url }}" class="dropdown-item">
                          <span>{{ childlink.title }}</span>
                        </a>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </li>
            {% else %}
              <!-- 没有下拉菜单的普通菜单项 -->
              <li class="nav-item">
                <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <!-- 小购物车项 -->
          <li class="nav-item dropdown mini-cart">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Cart
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <div class="dropdown-item-text">
                  {% include 'mini-cart' %}
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <!-- 居中显示的 logo -->
    <a class="navbar-brand center-image" href="#">
      <img src="{{section.settings.logo | img_url:'master' }}" alt="" width="{{section.settings.logo_max_width}}px">
    </a>
    <!-- 折叠菜单按钮 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  {% else %}
    <!-- 如果 logo 位置不是 middle-center，则使用普通的 header-position 样式 -->
    <div class="header-position-{{ section.settings.logo_position }}">
      <a class="navbar-brand" href="#">
        <img src="{{section.settings.logo | img_url:'master' }}" alt="" width="{{section.settings.logo_max_width}}px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for link in linklists[section.settings.menu].links %}
            {% if link.links != blank %}
              <!-- 下拉菜单项 -->
              <li class="nav-item dropdown">
                <a href="{{ link.url }}" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ link.title }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div>
                    <!-- 大型菜单项 -->
                           {% if section.settings.menu_type_desktop == 'mega' and section.settings.mega_menu_images_toggle != 'none' %}
                      <ul class="mega-menu__list megamenu-with-image page-width">
                        {%- for childlink in link.links -%}
                          {% assign image_url = '' %}
                          {% if section.settings.mega_menu_images_toggle == 'featured' %}
                            {% if childlink.object.featured_image %}
                              {% assign image_url = childlink.object.featured_image | img_url: 'master' %}
                            {% endif %}
                          {% elsif section.settings.mega_menu_images_toggle == 'metafield' %}
                            {% assign image_url = childlink.object.metafields.custom.header_menu_image | img_url: 'master' %}
                          {% endif %}
                          <li>
                            <div class="mega-menu__column">
                              {% if image_url != blank %}
                                <a href="{{ childlink.url }}">
                                  <img src="{{ image_url }}" alt="{{ childlink.title | escape }}" class="mega-menu__image">
                                </a>
                              {% endif %}
                              <a id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}" href="{{ childlink.url }}" class="mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} mega-menu__link--active{% endif %} {% if section.settings.mega_menu_images_title %}hide-title{% endif %}" {% if childlink.current %} aria-current="page" {% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            </div>
                          </li>
                        {%- endfor -%}
                      </ul>
                    <!-- 如果使用侧边栏菜单，则按照相应样式渲染 -->
                    {% else if section.settings.drawer_menu_images_toggle != 'none' %}
                      {% assign image_url = '' %}
                      {% if section.settings.drawer_menu_images_toggle == 'featured' %}
                        {% if link.object.featured_image %}
                          {% assign image_url = link.object.featured_image | img_url: 'master' %}
                        {% endif %}
                      {% elsif section.settings.drawer_menu_images_toggle == 'metafield' %}
                        {% if link.object.metafields.custom.header_menu_image %}
                          {% assign image_url = link.object.metafields.custom.header_menu_image | img_url: 'master' %}
                        {% endif %}
                      {% endif %}
                      <div class="menu-drawer__menu-item-container{% if link.current %} menu-drawer__menu-item--active{% endif %}">
                        <a id="HeaderDrawer-{{ link.handle }}" href="{{ link.url }}" class="menu-drawer__menu-item menu-drawer__menu-item-w-image link link--text focus-inset" {% if link.current %} aria-current="page" {% endif %}>
                          {{ link.title | escape }}
                        </a>
                        {% if image_url != blank %}
                          <a href="{{ link.url }}" class="menu-drawer__menu-item-link">
                            <img src="{{ image_url }}" alt="{{ link.title | escape }}" class="menu-drawer__image">
                          </a>
                        {% endif %}
                      </div>
                    <!-- 如果没有大型菜单项，则渲染普通的菜单项 -->
                    {% else %}
                      {% for childlink in link.links %}
                        <a href="{{ childlink.url }}" class="dropdown-item">
                          <span>{{ childlink.title }}</span>
                        </a>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>
              </li>
            {% else %}
              <!-- 没有下拉菜单的普通菜单项 -->
              <li class="nav-item">
                <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="navbar-nav">
          <!-- 小购物车项 -->
          <li class="nav-item dropdown mini-cart">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Cart
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <div class="dropdown-item-text">
                  {% include 'mini-cart' %}
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}
</nav>

<style>
  /* 其他样式保持不变 */

  /* 如果 logo 位置为 middle-center，则使 navbar-brand 居中 */
  .center-image {
    justify-self: center;
    text-align: center;
  }
</style>
            
