<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- 修改1：将link标签的media属性设置为print，并添加onload属性 -->
  <link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">

  <!-- 修改2：将style标签中的内容移到style标签外，并将其封装在{% style %}和{% endstyle %}标签中 -->
  {%- style -%}
    /* 新增：为整个页面定义通用文本颜色 */
    body, body * {
      color: #333 !important; /* 强制应用颜色 */
    }

    a {
      color: #1a73e8 !important; /* 强制应用链接颜色 */
    }

    h1, h2, h3, h4, h5, h6 {
      color: #111 !important; /* 强制应用标题颜色 */
    }

    p {
      color: #444 !important; /* 强制应用段落颜色 */
    }

    .header {
      padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
    }

    .section-header {
      position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-header {
        margin-bottom: {{ section.settings.margin_bottom }}px;
      }
    }

    @media screen and (min-width: 990px) {
      .header {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    /* 修改4：修改header-drawer元素的样式 */
    header-drawer {
      justify-self: start;
      margin-left: -1.2rem;
    }

    {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
      .scrolled-past-header .header__heading-logo-wrapper {
        width: 75%;
      }
    {%- endif -%}

    {%- if section.settings.menu_type_desktop != "drawer" -%}
      @media screen and (min-width: 990px) {
        header-drawer {
          display: none;
        }
      }
    {%- endif -%}

    .menu-drawer-container {
      display: flex;
    }

    .list-menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .list-menu--inline {
      display: inline-flex;
      flex-wrap: wrap;
    }

    summary.list-menu__item {
      padding-right: 2.7rem;
    }

    .list-menu__item {
      display: flex;
      align-items: center;
      line-height: calc(1 + 0.3 / var(--font-body-scale));
    }

    .list-menu__item--link {
      text-decoration: none;
      padding-bottom: 1rem;
      padding-top: 1rem;
      line-height: calc(1 + 0.8 / var(--font-body-scale));
    }

    @media screen and (min-width: 750px) {
      .list-menu__item--link {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
      }
    }
  {%- endstyle -%}
</head>
<body>
  <header class="header">
    <!-- header 内容 -->
  </header>
  <!-- 其他内容 -->

  <!-- 修改3：在多个link标签之后添加对应的noscript标签 -->
  <noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
  <noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>
</body>
</html>



