<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == 'drawer' -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }

  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /* 修改: 添加自定义属性以应用导航栏文本颜色 */
  .header-wrapper {
    --nav-text-color: {{ section.settings.nav_text_color }};
  }

  .list-menu__item--link {
    color: var(--nav-text-color);
  }

{%- endstyle -%}

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == 'drawer' -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close" fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

{%- assign header_class = "header__heading" -%}
{%- if social_links or localization_forms -%}
  {%- assign header_class = header_class | append: " header__heading--has-soc-nav" -%}
{%- endif -%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <div class="header">
    <div class="{{ header_class }}">
      <a class="header__heading-logo" href="{{ routes.home_url }}">
        {%- if settings.logo != blank -%}
          <img src="{{ settings.logo | image_url: width: 200 }}" class="logo--image" alt="{{ shop.name }}">
        {%- else -%}
          {{ shop.name | escape }}
        {%- endif -%}
      </a>
    </div>

    <nav class="header__navigation list-menu--inline" aria-label="{{ 'sections.header.navigation_label' | t }}">
      {{ navigation.main }}

      {%- if settings.enable_predicitve_search == true and section.blocks.size > 0 -%}
        <details-disclosure class="header__search">
          <summary class="header__search-summary" aria-controls="SearchDrawer">
            <svg class="icon icon-search" width="20" height="20">
              <use xlink:href="#icon-search"></use>
            </svg>
            <span class="icon-search__text">Search</span>
          </summary>

          <details-menu id="SearchDrawer" role="menu">
            <div class="search-form-wrapper">
              <form method="get" class="search-form" action="{{ routes.search_url }}">
                <label for="SearchDrawer" class="search-form__label">
                  {{ 'sections.header.search' | t }}
                </label>
                <input type="search" name="q" id="SearchDrawer" class="search-form__input" placeholder="{{ 'sections.header.search_placeholder' | t }}">
                <button type="submit" class="search-form__submit">
                  <svg class="icon icon-search" width="20" height="20">
                    <use xlink:href="#icon-search"></use>
                  </svg>
                </button>
              </form>
            </div>
          </details-menu>
        </details-disclosure>
      {%- endif -%}

      {%- if localization.available_languages.size > 1 and section.settings.language_selector_enable -%}
        <details-disclosure class="header__language">
          <summary class="header__language-summary" aria-controls="LanguageDrawer">
            <span class="icon icon-language">
              {{ localization.current_language_name | escape }}
            </span>
          </summary>

          <details-menu id="LanguageDrawer" role="menu">
            <div class="language-selector">
              {%- form 'localization' -%}
                <select name="language_code" id="LanguageSelector" class="language-selector__select">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" {% if language.iso_code == localization.current_language_iso_code %}selected{% endif %}>
                      {{ language.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
              {%- endform -%}
            </div>
          </details-menu>
        </details-disclosure>
      {%- endif -%}
    </nav>

    {%- if social_links -%}
      <div class="header__social-nav">
        {%- if settings.social_twitter_link != blank -%}
          <a href="{{ settings.social_twitter_link }}" class="social-link social-link--twitter" title="Twitter" aria-label="Twitter">
            <svg class="icon icon-twitter" width="20" height="20">
              <use xlink:href="#icon-twitter"></use>
            </svg>
          </a>
        {%- endif -%}

        {%- if settings.social_facebook_link != blank -%}
          <a href="{{ settings.social_facebook_link }}" class="social-link social-link--facebook" title="Facebook" aria-label="Facebook">
            <svg class="icon icon-facebook" width="20" height="20">
              <use xlink:href="#icon-facebook"></use>
            </svg>
          </a>
        {%- endif -%}

        {%- if settings.social_instagram_link != blank -%}
          <a href="{{ settings.social_instagram_link }}" class="social-link social-link--instagram" title="Instagram" aria-label="Instagram">
            <svg class="icon icon-instagram" width="20" height="20">
              <use xlink:href="#icon-instagram"></use>
            </svg>
          </a>
        {%- endif -%}

        {%- if settings.social_youtube_link != blank -%}
          <a href="{{ settings.social_youtube_link }}" class="social-link social-link--youtube" title="YouTube" aria-label="YouTube">
            <svg class="icon icon-youtube" width="20" height="20">
              <use xlink:href="#icon-youtube"></use>
            </svg>
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}

    {%- if localization_forms -%}
      <div class="header__country-selector">
        <details-disclosure class="header__country">
          <summary class="header__country-summary" aria-controls="CountryDrawer">
            <span class="icon icon-country">
              {{ localization.current_country_name | escape }}
            </span>
          </summary>

          <details-menu id="CountryDrawer" role="menu">
            <div class="country-selector">
              {%- form 'localization' -%}
                <select name="country_code" id="CountrySelector" class="country-selector__select">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {% if country.iso_code == localization.current_country_iso_code %}selected{% endif %}>
                      {{ country.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
              {%- endform -%}
            </div>
          </details-menu>
        </details-disclosure>
      </div>
    {%- endif -%}
  </div>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>
